/*ここにPC版のCSS*/
*{
    margin:0px;
    padding:0px;
}
#header{
    background-size:cover;
    position:relative;
    width:100%;
    height:820px;
    margin-top:0px;

   
}
.bg-slider {
	width:100%;
	height: 770px;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
    
}
.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

nav{
    overflow:hidden;
    width:100%;
    
}

nav ul li{
    list-style-type:none;    
    text-align:right;
    float:right;
    overflow: hidden;
    
    
}
nav a{
    font-size:27px;
    font-style: normal;
    font-family:"Futura";
    text-decoration: none;
    font-weight: 300;
    margin-right:30px;
    color:#fff;
    
    
}
nav ul{
    margin-right:64px;
    margin-top:30px;
}
nav a:hover{
    color:#3d5cdb;
    transition:0.3s;
    

}

.logo img{
    width:900px;
    height:238px;
}
.logo{
    text-align: center;
    padding-top:180px;
}
h1{
    font-size: 45px;
    font-weight:100;
    color:#fff;
    font-family:"Futura";
    font-style:italic;
    text-align: center;
    

}
.title{
    text-align:center;
    font-family:"Futura";
    font-style: normal;
    font-weight: 300;
    font-size:53px;
    color:#3d5cdb;
    margin-top:54px;
    margin-bottom:70px;
}


#introduction{
    width:1040px;
    height:900px;
    margin:0 auto;
    margin-bottom:57px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:20px;
    
}
#introduction img{
    width:450px;
    height:333px;
    
}
.paragraph{
    width:40%;
    height:210px;
    float:right;
    padding-right:30px;
    
    
}
.paragraph p{
    font-family:"Hiragino Kaku Gothic Pro",sans-serif;
    font-style:normal;
    font-size: 16px;
    line-height:32px;
    color:#333333;
    font-weight:400;
    letter-spacing: -0.02em;
    float:right;
    
    
}
.intro-box{
    width:450px;
    height:340px;
    margin-right:0px;
    margin-top:0px;
   
}
.button1 a {
    font-size: 20px;
    font-family:"Futura";
    font-style:normal;
    font-weight:700;
    line-height:40px;
    text-decoration:none;
    background:#3d5cdb;
    color:#fff;
    display:inline-block;
    padding:2px 50px;
    border-radius:15px;
    margin-left:115px;
    margin-top:20px;
    
}
.button1 a:hover{
    box-shadow:0px 0px 20px rgba(0,0,0,0.2);
}
.button2 a:hover{
     box-shadow:0px 0px 20px rgba(0,0,0,0.2);
}
/*

ここにボタン押したらカゲできるようにするよ
*/

#introduction .intro2{
     float:right;
    margin-top:92px;
    padding-left:45px;
}
.paragraph2{
    width:43%;
    height:182px;
    float: left; 
    padding-top:90px; 
    padding-left:47px;
    
}
.paragraph2 p{
    font-family:"Hiragino Kaku Gothic Pro",sans-serif;
    font-style:normal;
    font-size: 16px;
    line-height:32px;
    color:#333333;
    font-weight:400;  
    letter-spacing:-0.051em;
}
.button2 a{
    font-size: 20px;
    font-family:"Futura";
    font-style:normal;
    font-weight:700;
    line-height:40px;
    text-decoration:none;
    background:#ffbf00;
    color:#fff;
    display:inline-block;
    padding:2px 50px;
    border-radius:15px;
    margin-left:115px;
    margin-top:20px;
}
#courses{
    width:100%;
    height:942px;
    background-color:#d6e5f9;
    position:relative;
    
}




#courses .title{
    padding-top:54px;
}
#courses .course-box1{
    width:100%;
    display:inline-flex;
    flex-direction:row;
    justify-content:center;

    
    
}
#course-box2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    
    
}
#box{
    width:240px;
    height:340px;
    background-color:#fff;
    margin:0px 12px 30px;
    border-radius:10px;
    text-align: center;
    
    
}

#particles-js {
width: 100%;
height: 1000px;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: block;
z-index: 0;
}
.html img{
    margin-top:30px;
    
    
    
}
.css img{
   margin-top:26px;
}
.unity img{
   margin-top: 50px;
}
.ruby img{
   margin-top: 50px;
}
.js img{
   margin-top: 30px; 
}
.swift img{
    margin-top: 60px;
}
.go img{
    margin-top: 50px;
}
#box h2{
    font-size: 15px;
    font-weight:700;
    color:#183c61;
    font-family:"Hiragino Kaku Gothic Pro";
    text-align:center;

}
#box a{
    font-size: 13px;
    font-weight:700;
    line-height:40px;
    color:#fff;
    font-family:"Futura";
    display:inline-block;
    width:170px;
    height:40px;
    border-radius:10px;
    text-align:center;
    text-decoration:none;
    margin-top:10px;
    margin-bottom:45px;
    
}

#box a:hover{
     box-shadow:0px 0px 20px rgba(0,0,0,0.2);
}
.html a{
    background-color:#f16629;
    
}
.css a{
    background-color:#2aa9df;
    
}
.unity a{
    background-color:#333333;
}
.ruby a{
    background-color:#ff5252;
}
.js a{
    background-color:#fed700;
}
.swift a{
    background-color:#fe7635;
}
.go a{
    background-color:#72cfdd;
}
.html h2{
    margin-top:40px;
}
.css h2{
    margin-top:30px;
}
.unity h2{
    margin-top:60px;
}
.ruby h2{
    margin-top:60px;
}
.js h2{
    margin-top: 40px;
}
.swift h2{
    margin-top:62px;
}
.go h2{
    margin-top:60px;
}
#images{
    width:80%;
    height:445px;
    margin:0 auto;
    
    
}


#access{
    width:100%;
    height:555px;
}
.map{
    text-align: center;
    
}
.map iframe{
   width:600px;
    height:400px;
}
footer{
    color:#3e5cda;
    text-align: center;
    font-size: 16px;
    font-weight:300;
    line-height:60px;
    font-family:"Futura";
    width:100%;
    height:60px;
}
/*~1024px:タブレット縦*/
@media screen and (max-width:1024px){
    #header{
            width:100%;
    }
    #introduction .intro-box{
    width:80%;
        
}
    #introduction .paragraph2{
        width:40%;
    }
     #introduction .paragraph {
        margin-right:20px;
    }
    #introduction img{
        width:45%;
    }
  img.intro2{
        margin-right:20px;
    }
    #images{
        width:86%;
    }
}
/*~896px:スマホ横*/
@media screen and (max-width:896px){
    #header{
     width:70%;
    }
    #header .logo img{
        width:100%;
    }
     #introduction {
        width:90%;
}
    #introduction .paragraph2{
        width:40%;
    }
    #courses {
        width:100%;
    }
    #images{
        width:88%;
    }
    
}

/*~450px:スマホ縦*/
@media screen and (max-width:450px){
    #header{
        width:94%;
        
        
    }
 
    #header nav{
        width:0px;
       
    }
    nav a {
        font-size:14px;
        
    }
     #header .logo img{
        width:75%;
         height:75%;
         margin:auto;
         margin-top:120px;
    }
    #header h1{
        font-size:16px;
        margin-top:12px;
    }
    
    h2.title{
        margin-bottom:40px;
        margin-top:40px;
        font-size:32px;
    }
    #introduction .paragraph{
        margin-right:0px;
        padding-right:0px;
        width:90%;
    }
    #introduction .paragraph p{
        font-size:13px;
        line-height:25px;
        float:left;
       margin-right:30px;
        width:369px;
        height:156px;
        margin-top:20px;
        
    }
    #introduction{
        width:80%;
        margin-left:0px;
        padding:0px;
    }
   
    #introduction .paragraph2 p{
        font-size: 13px;
        line-height:25px;
        width:369px;
        height:156px;
        margin-top:20px;
    }
    #introduction .paragraph2{
        width:80%;
        padding-top:20px;
        
    }
    #introduction img{
        width:400px;
        height:273.33px;
       margin-left:24px;
        
        
        
    }
    #introduction.fuwat{
        width:100%;
        height:1200px;
    }
   
   
    .button2 a{
        margin-left:90px;
    }
    .button1 a{
        margin-top:20px;
        margin-left:90px;
       
}
    #images{
        width:60%;
        height:320px;
      
    }

    .map iframe{
        width:450px;
        height:400px;
    }
    
    #course-box2{
        display: block;
    }
    #courses .course-box1{
        display:block;
        
    }
    #box{
        width:160px;
        height:240px;
        float:left;
    }
    .html img{
        width:30%;
        height:30%;
}
    .css img{
        width:30%;
        height:32%;
    }
    .unity img{
        width:30%;
        height:20%;
    }
    .ruby img{
        width:30%;
        height:20%;
    
    }
    .js img{
        width:30%;
        height:30%;
    }
    .swift img{
        width:30%;
        height:20%;
        margin-top:50px;
    }
    .go img{
        width:30%;
        height:20%;
    }
    #box a{
        width:100px;
        height:40px;
        font-size:10px;
        border-radius:20px;
        margin-bottom:10px;
        margin-top:20px;
    }
    #box h2{
        font-size:10px;
    }
    .html h2{
    margin-top:20px;
        
}
.css h2{
    margin-top:21px;
}
.unity h2{
    margin-top:30px;
}
.ruby h2{
    margin-top:30px;
}
.js h2{
    margin-top: 20px;
}
.swift h2{
    margin-top:25px;
}
.go h2{
    margin-top:30px;
}
    #courses{
    
        height:1280px;
        width:450px;
    }
    
    .course-box1{
        margin-left:40px;
    }
    #course-box2{
        margin-left:40px;
        
    }
    #course-box2 .go{
        margin-left:106px;
    }
    #particles-js{
        height:1600px;
        width:450px;
    }
    footer{
        margin-bottom:20px;
        
    }
}